body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #2b2b2b;
  color: rgb(214, 214, 214);
  max-width: 900px;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

.loaderHolder {
  text-align: center;
}

ul {  
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

#root {
  background-color: #3f3f3f;
  padding: 60px;
  border-radius: 20px;
  height: 100%;
  margin-top: 100px;
}

.logo {
  display: block;
  margin: 0 auto;
}

.user-name {
  font-size: x-large;
  margin-bottom: 10px;
  margin-top: -200px;
}
.user-info {
  display: grid;
  grid-template-columns: 50px 1fr;
}

h1 {
  margin-top: 50px;
}

p {
  font-size: 22px;
}

li {
  padding: 20px;
  background-color: #3f3f3f;
  margin: 40px;
  border-radius: 10px;

}

.big-icon {
  font-size: 50px;
  color: rgb(210, 235, 255);
}

li div, li button {
  padding: 5px;
}

.userCard {
  transition: padding 0.35s;
}
.userCard:hover {
  padding: 60px;
}
.view-more {
  float: right;
  background-color: rgba(0, 0, 0, 0.767);
  color: white;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  padding: 15px;
}

.userPosts {
  padding: 20px;
}

.userPosts .user-info {
  background-color: #2b2b2bc5;
  position: sticky;
  padding: 5px;
  top: 0;
}

.end {
  float: right;
  font-weight: bold;
  font-size: x-large;
}
.view-more:hover {
  background-color: rgba(255, 255, 255, 0.779);
  color: black;
}

@keyframes hover {
  0% {}
  100% {padding: 60px;}
}

.loader {
  border: 1.6px solid #fff; 
  border-top: 1.6px solid #000; 
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: spin 0.68s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.post h2 {
  text-transform: uppercase;
}

.heading {
  text-align: center;
  width: 100%;
  padding: 4px;
  border-top: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  top: 0;
  background-color: rgba(0, 0, 0, 0.308);
}
.profileimage {
  border-radius: 50%;
}

@media only screen and (max-width: 1000px) {
  .user-name {
    font-size: medium;

  }

  .view-more {
  float: right;
  background-color: rgba(0, 0, 0, 0.767);
  color: white;
  font-weight: bold;
  padding: 18px;
  font-size: large;
}

 
  .user-info {
    grid-template-columns: 100px 1fr;
    column-gap: 10px;
  }
  .big-icon {
    font-size: 100px;
  }

  body {
    max-width: 100%;
    margin: 0 auto;
  
  }

  .end {
    font-size: 50px;
  }
  .userCard {
    margin: 50px;
  }
}